<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Procurar Caminhão')}"></head>
<body>
	<header th:replace="~{fragmentos/header :: header(activePage='caminhao')}"></header>

	<div class="header text-center">
		<h1>
			<i class="bi bi-film"></i> Busca Caminhao
		</h1>
		<p class="lead">Encontre caminhao no OMBD</p>
	</div>
	<div class="container">
		<div class="search-box">
			<form th:action="@{/caminhaoOmdb/buscaromdb}" method="get"
				class="d-flex">
				<input type="text" name="termo" th:value="${termo}"
					class="form-control" placeholder="Digite o título do filme">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-search"></i> Buscar
				</button>
			</form>
		</div>
		
		<div th:if="${message != null}" 
				class="alert alert-success alert-dismissible fade show text-center message"
				role="alert">
				[[${message}]] 
				<button type="button" class="close btn-sm" data-bs-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>
		<div th:if="${erro != null}" 
			class="alert alert-warning alert-dismissible fade show text-center" 
			role="alert">
   			<i class="bi bi-exclamation-triangle-fill"></i> [[${erro}]]
    		<button type="button" class="btn-close" data-bs-dismiss="alert" 
    		aria-label="Close"></button>
		</div>
		<!-- Resultados da busca que está no controller-->
		<div th:if="${resultados}" class="mt-2"  style="max-height: 60vh; overflow-y: auto;">
			<div class="table-container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><i class="bi bi-card-heading"></i> Título</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
					
						<tr th:each="caminhaoOmdb : ${resultados}">
							<td th:text="${caminhaoOmdb.titulo}">Título</td>
							<td>
								<form th:action="@{/caminhaoOmdb/receberCaminhao}" method="post">
									<input type="hidden" name="titulo"
										th:value="${caminhaoOmdb.titulo}" /> 
									<input type="hidden" name="imdbID"
										th:value="${caminhaoOmdb.imdbID}" /> 
									<button type="submit" class="btn btn-primary btn-sm">
										<i class="bi bi-plus-circle"></i> Adicionar
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
// Fechar alertas manualmente
document.querySelectorAll('.alert .btn-close, .alert .close').forEach(button => {
    button.addEventListener('click', function() {
        this.closest('.alert').remove();
    });
});
</script>

</html>